
a:hover {
    color: #2172a7 !important;

}

a {
    font-size: 15px !important;
}

.ab {
    /* height:86vh;
    */
    background-color: #eb81a5;
}

.btn {
    height: 30px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

li:hover {
    text-decoration: underline;
    color: gray;
}

li {
    padding-bottom: 20px;
}

